%h1 Editing election_allowed_email

= render 'form'

= link_to 'Show', @election_allowed_email
\|
= link_to 'Back', organisation_election_election_allowed_emails_path(current_organisation, @election)
