%h1 Editing election

= render 'form'

= link_to 'Show', [current_organisation, @election]
\|
= link_to 'Back', organisation_elections_path(current_organisation)
\|
= link_to 'Allowed emails', organisation_election_election_allowed_emails_path(current_organisation, @election)
